<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %></h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="row m-2">
    <div class="col-7">
      <div class="row field">
        <div class="col"> 
          <h2><%= form.label :nome %>
        </div>
        <div class="col">
          <h2><%= form.text_field :nome %>
        </div> 
      </div>

      <div class="row">
        <div class="col"> 
          <h2><%= form.label :cognome %>
        </div>
        <div class="col">
          <h2><%= form.text_field :cognome %>
        </div> 
      </div>
        
        
      <div class="row">
        <div class="col"> 
          <h2><%= form.label :email %>
        </div>
        <div class="col">
          <h2><%= form.text_field :email %>
        </div> 
      </div>
    </div>

    <div class="col-5">
      <%= image_tag "profilo.jpeg",class:"card-img-top",alt:"Card image cap" %>
      <div class="field form-group text-center"><h2>
        <%= form.label :username, style: "display: block" %>
        <%= form.text_field :username %> </div>
      </div>
  </div>
  
  <div class="row m-2 form-check form-switch">
    <%= form.label :pubblico, "Vuoi rendere pubblico il tuo profilo?" %>
    <%= form.check_box :pubblico, {class:"form-check-input" },"si", "no" %> </div>
 </div>

  <div class="row m-2">
    <%= form.label :commento, style: "display: block" %>
    <%= form.text_area :commento,size: "50x8" %> </div>
 </div>
  <br>
  <div class="m-2">
    <%= form.submit %>
  </div>
<% end %>
