<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.nome %>
  </p>

  <p>
    <strong>Cognome:</strong>
    <%= user.cognome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Pubblico:</strong>
    <%= user.pubblico %>
  </p>

  <p>
    <strong>Commento:</strong>
    <%= user.commento %>
  </p>

</div>
