
  <%=render "/header"%>
  <div class="row pt-2">
    <div class="col-5">
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%if flash[:notice]%>
        <div class="alert alert-success">
          <%= flash[:notice ] %>
        </div>
      <% end %>
      <h1>IL MIO PROFILO</h1>
    </div>
    <div class="col-7">
      <%= link_to "Modifica profilo",edit_user_path(@user) %>
    </div>
  </div>  

  <div class="row">
    <div class="col-7">
      <div class="field form-group"> <h2>Nome: <%= @user.nome %> </div>
      <div class="field form-group"> <h2>Cognome: <%= @user.cognome %> </div>
      <div class="field form-group"> <h2>Email: <%= @user.email %> </div>
    </div>
    <div class="col-5">
      <%= image_tag @user.immagine,class:"card-img-top img-fluid",alt:"Card image cap" %>
      <div class="field form-group text-center"><h2> <%= @user.username %> </div>
    </div>
  </div>

<div class="row">
  <div class="container-fluid row m-2">
    <%if (!@user.commento or @user.commento!="") #se non è vuoto
      @commento=@user.commento
    else
      @commento="Aggiungi qui un commento sul tuo wallet. Questo messaggio verrà visualizzato agli utenti che visiteranno il tuo profilo."
    end %>

    <textarea rows=8 cols=50 name="Commento" readonly><%=@commento%></textarea>
  </div>
</div>
 <%=  render "/footer"%>