 <%=render "/header"%>
<%= render @user %>
<div class="row">
    <div class="col-md-6">
        <textarea class="form-control" rows=8 cols=50 placeholder="<%= @user.commento %>" disabled></textarea>
        <h2>Se ritieni il messaggio offensivo:
        <a type="button" class="btn btn-danger" data-bs-toggle="modal" href="/contacts">Segnala Utente</a>
    </div>
    <div class="col-md-4 offset-md-1 ">
    <%if @user.pubblico=="si"%>
        <canvas id="myChart"></canvas>     
    <%else%>
        <h1>Il wallet di questo utente è privato</h1>
    <%end%>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    var variable =[];
    <% @nome.each do |nom|%>
        variable.push('<%= nom %>') 
    <%end%> 
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {    
        type: 'pie',
        data: {
        labels: variable,
        datasets: [{
            label: 'prezzo totale',
            data: <%= @quantita %>,
            borderWidth: 1
        }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: "Wallet"
                }
            }
        }
    });
</script>
 <%=  render "/footer"%>
