<body class="sfondo_home">
  <div class="text-center ">
    <h2>Hai dimenticato la password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"mt-1",placeholder:"Email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions",class:"btn btn-primary m-3" %>
      </div>
    <% end %>
    <div class="m-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</body>
