<div class="container">
<%=render "/header"%>
 <h1>NOTIZIE</h1>
 <p>In questa sezione sono riportate le notizie più rilevanti e recenti in ambito economico-finanziario</p>
 <div class="row">
  <div class="col-3">
   <div class="card" style="width: 18rem;">
    <%= image_tag "newsprova.jpeg",class:"card-img-top",alt:"Card image cap" %>
    <div class="card-body">
     <h5 class="card-title"><%=@notizia1.titolo %></h5>
     <p class="card-text"><%=@notizia1.descrizione%></p>
     <a href="#" class="btn btn-primary">notizia.url</a>
    </div>
   </div>
   <br>
   <br>
   <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title"><%=@notizia2.titolo %></h5>
     <p class="card-text"><%=@notizia2.descrizione%></p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
   <br>
   <br>
   <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title">Titolo notizia</h5>
     <p class="card-text">descrizione notizia</p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
  </div>
  <div class="col-3">
   <div class="card" style="width: 18rem;">
    <!--<img class="card-img-top" src="" alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title">Titolo notizia</h5>
     <p class="card-text">descrizione notizia</p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
   <br>
   <br>
   <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title">Titolo notizia</h5>
     <p class="card-text">descrizione notizia</p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
   <br>
   <br>
   <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title">Titolo notizia</h5>
     <p class="card-text">descrizione notizia</p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
  </div>
  <div class="col-3">
   <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title">Titolo notizia</h5>
     <p class="card-text">descrizione notizia</p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
   <br>
   <br>
   <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title">Titolo notizia</h5>
     <p class="card-text">descrizione notizia</p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
   <br>
   <br>
   <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title">Titolo notizia</h5>
     <p class="card-text">descrizione notizia</p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
  </div>
  <div class="col-3">
   <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title">Titolo notizia</h5>
     <p class="card-text">descrizione notizia</p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
   <br>
   <br>
   <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title">Titolo notizia</h5>
     <p class="card-text">descrizione notizia</p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
   <br>
   <br>
   <div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
     <h5 class="card-title">Titolo notizia</h5>
     <p class="card-text">descrizione notizia</p>
     <a href="#" class="btn btn-primary">Link alla notizia</a>
    </div>
   </div>
  </div>
 </div>
</div>