<h1>Azioni</h1>
<div class=" table-responsive">
  <table name="screener" style="text-align:center" class="table text-black" id="tabella" rules="rows">
    <thead>
      <tr>
        <th id="nome-header" class="clickable">Nome</th>
        <th id="isin-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Codice identificativo">ISIN</a></th>
        <th id="paese-header" class="clickable">Paese</th>
        <th id="prezzo-header" class="clickable">Prezzo($)</th>
        <th id="marketcap-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Capitalizzazione di mercato">Marketcap($)</a></th>
        <th id="settore-header" class="clickable">Settore</th>
        <th id="volume-header" class="clickable">Volume</th>
        <th id="ebitda-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Earnings Before Interests Taxes Depreciation and Amortization">EBITDA</a></th>
        <th id="roe-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Return On Equity">ROE</a></th>
        <th id="roa-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Return On Asset">ROA</a></th>
        <th id="pe-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Price to Earnings ratio">PE</a></th>
        <th id="ps-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Price to Sales ratio">PS</a></th>
        <th id="pb-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Price to Book ratio">PB</a></th>
        <th id="divyield-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Rapporto tra l'ultimo dividendo annuo per azione e il prezzo del titolo">Div Yield</a></th>
        <th id="debteq-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Rapporto tra debito e capitale">Debt Eq</a></th>
        <th id="opmargin-header" class="clickable"><a data-bs-toggle="tooltip" data-bs-title="Reddito operativo per unità di ricavo">Op Margin</a></th>
    </thead>
    <tbody>
      <% @soluzione.each do |sol| %>
        <tr>
          <td><%= sol.nome %></th>
          <td><li><%= link_to sol.isin, sol %></li></td>
          <td><%= sol.paese %></td>
          <td><%= sol.prezzo.round(2) %></td>
          <td><%= sol.marketcap.round(2) %></td>
          <td><%= sol.settore %></td>
          <td><%= sol.volume.round(2) %></td>
          <td><%= sol.ebitda.round(2) %></td>
          <td><%= sol.roe.round(2) %></td>
          <td><%= sol.roa.round(2) %></td>
          <td><%= sol.pe.round(2) %></td>
          <td><%= sol.ps.round(2) %></td>
          <td><%= sol.pb.round(2) %></td>
          <td><%= sol.divyield.round(2) %></td>
          <td><%= sol.debteq.round(2) %></td>
          <td><%= sol.opmargin.round(2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>