<%= form_with model: @screener do |form| %>
  <div>
    <%= form.label :paesescelto, style: "display: block" %>
    <%= form.text_field :paesescelto %>
  </div>
  
  <div>
    <%= form.label :PrezzoMin, style: "display: block" %>
    <%= form.number_field :PrezzoMin %>
  </div>

  <div>
    <%= form.label :PrezzoMax, style: "display: block" %>
    <%= form.number_field :PrezzoMax %>
  </div>

  <div>
    <%= form.label :MarketcapMin, style: "display: block" %>
    <%= form.number_field :PaeseScelto %>
  </div>
  
  <div>
    <%= form.label :MarketcapMax, style: "display: block" %>
    <%= form.number_field :SettoreScelto %>
  </div>

  <div>
    <%= form.label :SettoreScelto, style: "display: block" %>
    <%= form.text_field :SettoreScelto %>
  </div>

  <div>
    <%= form.label :VolumeMin, style: "display: block" %>
    <%= form.number_field :VolumeMin %>
  </div>

  <div>
    <%= form.label :VolumeMax, style: "display: block" %>
    <%= form.number_field :VolumeMax %>
  </div>
  
  <div>
    <%= form.label :EbitdaMin, style: "display: block" %>
    <%= form.number_field :EbitdaMin %>
  </div>

  <div>
    <%= form.label :EbitdaMax, style: "display: block" %>
    <%= form.number_field :EbitdaMax %>
  </div>
  
  <div>
    <%= form.label :RoeMin, style: "display: block" %>
    <%= form.number_field :RoeMin %>
  </div>

  <div>
    <%= form.label :RoeMax, style: "display: block" %>
    <%= form.number_field :RoeMax %>
  </div>

  <div>
    <%= form.label :RoaMin, style: "display: block" %>
    <%= form.number_field :RoaMin %>
  </div>

  <div>
    <%= form.label :RoaMax, style: "display: block" %>
    <%= form.number_field :RoaMax %>
  </div>
  
  <div>
    <%= form.label :PeMin, style: "display: block" %>
    <%= form.number_field :PeMin %>
  </div>

  <div>
    <%= form.label :PeMax, style: "display: block" %>
    <%= form.number_field :PeMax %>
  </div>
  
  <div>
    <%= form.label :PsMin, style: "display: block" %>
    <%= form.number_field :PsMin %>
  </div>

  <div>
    <%= form.label :PsMax, style: "display: block" %>
    <%= form.number_field :PsMax %>
  </div>

  <div>
    <%= form.label :PbMin, style: "display: block" %>
    <%= form.number_field :PbMin %>
  </div>

  <div>
    <%= form.label :PbMax, style: "display: block" %>
    <%= form.number_field :PbMax %>
  </div>
  
  <div>
    <%= form.label :DyMin, style: "display: block" %>
    <%= form.number_field :DyMin %>
  </div>

  <div>
    <%= form.label :DyMax, style: "display: block" %>
    <%= form.number_field :DyMax %>
  </div>
  
  <div>
    <%= form.label :DeMin, style: "display: block" %>
    <%= form.number_field :DeMin %>
  </div>

  <div>
    <%= form.label :DeMax, style: "display: block" %>
    <%= form.number_field :DeMax %>
  </div>

  <div>
    <%= form.label :OpMMin, style: "display: block" %>
    <%= form.number_field :OpMMin %>
  </div>

  <div>
    <%= form.label :OpMMax, style: "display: block" %>
    <%= form.number_field :OpMMax %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>