<!DOCTYPE html>
<html lang="en">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>QQQFinance</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    </head>
  <body>
    <%=render "/header"%> 
    <p>
      <%= render "filtri" %>
    </p>
    <%if current_user%>
    <p>
      <%= render "aggiungi" %>
    </p>
    <%end%>
    <% if flash[:filtri] %>
      <div class="alert alert-success alert-dismissable">
        <%= flash[:filtri] %>
      </div>
    <% end %>
    <p>
      <%= render "azioni" %>
    </p>
    <% if flash[:errore] %>
      <div class="alert alert-danger alert-dismissable">
        <%= flash[:errore] %>
      </div>
    <% end %>
    <%=render "/footer"%>
    <script>
document.addEventListener("DOMContentLoaded", function() {
  const headers = document.querySelectorAll(".clickable");
  const sortingState = {};

  headers.forEach(header => {
    sortingState[header.id] = { direction: "desc", lastSorted: null };

    header.addEventListener("click", () => {
      const table = document.querySelector("#tabella");
      const tbody = table.querySelector("tbody");
      const rows = Array.from(tbody.querySelectorAll("tr"));

      const index = Array.from(header.parentNode.children).indexOf(header);
      const { direction, lastSorted } = sortingState[header.id];

      let newDirection = direction === "desc" ? "asc" : "desc";
      if (lastSorted !== null && index !== lastSorted) {
        newDirection = "desc";
      }

      sortingState[header.id] = { direction: newDirection, lastSorted: index };
      header.dataset.direction = newDirection;

      const sortedRows = rows.sort((a, b) => {
        const aCol = a.querySelectorAll("td")[index].textContent;
        const bCol = b.querySelectorAll("td")[index].textContent;
        if (!isNaN(aCol) && !isNaN(bCol)) {
          return parseInt(aCol, 10) - parseInt(bCol, 10);
        }
        return aCol.localeCompare(bCol);
      });

      if (newDirection === "asc") {
        sortedRows.reverse();
      }

      tbody.innerHTML = "";
      sortedRows.forEach(row => {
        tbody.appendChild(row);
      });
    });
  });
});


</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
</html>