
<div class="container-fluid">
  <%=render "/header"%>
  <div class="row pt-2">
    <div class="col-5">
      <h1>IL MIO PROFILO</h1>
    </div>
    <div class="col-7">
      <input type="button" class="btn btn-secondary btn-lg" value="Modifica Profilo">
    </div>
  </div>  

  <div class="row">
    <div class="col-7">
      <div class="field form-group"> <h2>Nome: <%= current_user.nome %> </div>
      <div class="field form-group"> <h2>Cognome: <%= current_user.cognome %> </div>
      <div class="field form-group"> <h2>Email: <%= current_user.email %> </div>
    </div>

    <div class="col-5">
      <%= image_tag "profilo2.jpeg",class:"card-img-top",alt:"Card image cap" %>
      <div class="field form-group text-center"><h2> <%= current_user.username %> </div>
    </div>
  </div>

  <div class="row">
    <p>Vuoi rendere pubblico il tuo wallet?
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></p>
    <br>
    <br>

    <%
    if (current_user.commento) #se non è vuoto
      @commento=current_user.commento
    else
      @commento="Aggiungi qui un commento sul tuo wallet. Questo messaggio verrà visualizzato agli utenti che visiteranno il tuo profilo."
    end %>

      <textarea rows=8 cols=50 placeholder="<%= @commento %>" readonly></textarea>

    <p>Find me in app/views/profilo/index.html.erb</p>

</div>
