<head></head>
<body>
<%=render "/header"%>

<div class="container">
<br>
 <div class="row">
   <div class="col-12">
     <h1>Valore totale wallet:</h1>
     <div class="text-center"><h2 style="color:green" id="valore"> <%=@tot%> $</h2></div>
   </div>
 </div>
 <hr>

 <form method='POST'>

 <div class="row">
  <div class="col-4">
   <h2>aggiungi posizione:</h2>
  </div>
  <div class="col-4">
   <input class="form-control me-2" type="search" name="ricerca" placeholder="Ricerca ISIN" aria-label="Cerca">
  </div>
  <div class="col-2">
   <input name='quantita' type='number' min='1' placeholder="Quantità" class='form-control'>
  </div>
  <div class="col-2">
   <button type="submit" class="btn btn-primary">Aggiungi</button>
 </div> 
 </form>
 </div>

 <hr>
 <div class="row">
   <h1>Azioni detenute:</h1>
   <div class=" table-responsive">
     <table name="portafoglio" style="text-align:center" class="table text-black" rules="rows">
       <tr>
       <th>Nome</th>
       <th>ISIN</th>
       <th>Paese</th>
       <th>Settore</th>
       <th>Quantità</th>
       <th>ValorePosizione</th>
       <tr></tr>
       </tr>
       <% i=0%>
       <%= while i<@azioni.length() do %>
       <tr><td><%=@azioni[i].nome%></td><td><%=@azioni[i].isin%></td><td><%=@azioni[i].paese%></td><td><%=@azioni[i].settore%></td><td><%=@quantita[i]%></td><td><%=@azioni[i].prezzo * @quantita[i]%>$</td><td> </td></tr>
       <% i+=1 %>
       <%end %>
     </table>
    </div>
    <% if @tot==0%>
    <p class="text-center">Il tuo wallet è vuoto.<br>Aggiungine alcune utilizzando l'apposito tool che trovi qui sopra o nella pagina <a href=../screener>screener</a></p>
    <%end%>
  </div>
</div>
<!--<%= debug(@posizioni) %>-->
</body>