<%if(@azione.comment.length()==1)%>
    <h4><p ><%=@azione.comment.length()%> Commento</p></h4>
<%else%>
    <h4><p ><%=@azione.comment.length()%> Commenti</p></h4>
<%end%>
<ul class="list-group list-group-flush">
    <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
    <% end %>
    <%if flash[:notice]%>
        <div class="alert alert-success">
          <%= flash[:notice ] %>
        </div>
    <% end %>
    <%= render "/comment/show"%>
</ul>
<%if(current_user)%>
    <%= render "/comment/new"%>
<%end%>