<%@azione.comment.each do |commento|%>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-1">
                <%= image_tag commento.user.immagine,class:"card-img-top "%>
            </div>
            <div class="col-10">
                    <div class="d-flex">
                        <a class="h5 link-dark" href="/users/<%=commento.user.id%>"><%=commento.user.username%></a> 
                        <%if(current_user)%>      
                            <%if(current_user.id==commento.user_id)%>
                            </p>
                                <%=link_to "Elimina",comment_path(commento),data: {
                                    turbo_method: :delete,
                                    turbo_confirm: "Sei sicuro?"
                                },class:"ms-3" %>
                                <a role="button" class="ms-3" onclick="myFunction(<%=commento.id%>)">Modifica</a>
                            </p>  
                            <%end%>
                        <%end%>
                    </div>
                    <form action="/comment/<%=commento.id%>" method="post">
                        <input type="hidden" name="user_id" id="user_id" value="<%= commento.user_id %>" />
                        <input type="hidden" name="azione_id" id="azione_id" value="<%= commento.azione_id %>" />
                        <textarea rows=2 cols=50 placeholder="<%= commento.commento %>" name="commento" disabled="true" id="commento<%= commento.id %>"></textarea>
                        <p><button id="submit<%= commento.id %>" type="submit" class="btn btn-primary" style="display:none" >Modifica</button></p>
                        
                    </form>
            </div>
        </div>
    </li>  

<%end%>
<script>
                            function myFunction(id) {
                                document.getElementById("commento"+id).disabled =false;
                                document.getElementById("submit"+id).style.display = "block";
                            }
                        </script>