<h1>Price#oscillazione_prezzo</h1>

<p>
  <%= @greeting %> <%=@user.nome%>,
</p>
<p>
con la presente desideriamo informarti che il titolo <%=@isin%> che possiedi in Wallet ha subito un oscillazione di prezzo superiore al 5% rispetto all'ultimo aggiornamento.
In particolare, si trova ora a <%=@prezzo%>$, con una variazione complessiva di <%=@variazione%>
</p>