<h1>Price#oscillazione_prezzo</h1>

<p>
  <%= @greeting %> <%=@user.nome%> <%=@user.cognome%>,
</p>
<p>
con la presente desideriamo informarti che la tua posizione in <%=@isin%> ha subito un oscillazione di prezzo superiore al 5% dall'ultimo aggiornamento.
In particolare,il titolo ha subito una variazione di <%=@variazione%> %, e si trova ora a <%=@prezzo%>$ per azione.
</p>