
<h2>
  <%= @greeting %> <%=@user.nome%> <%=@user.cognome%>,
</h2>

<p>con la presente desideriamo informarti che la tua posizione in <%=@isin%> ha subito un oscillazione di prezzo superiore al 5% dall'ultimo aggiornamento.</p>

<br>

<p>In particolare,il titolo ha subito una variazione di <%=@variazione%> %, e si trova ora a <%=@prezzo%>$ per azione.</p>

<br>

<br>

<p>Il team di QQQFinance.</p>